.header {
  height: 74px;
  padding: 0px 25px;
}
.headerRightSide {
  justify-content: flex-end;
  display: flex;
}
body .PasswordLabelBox {
  display: flex;
  justify-content: space-between;
}
.ForgotPassword {
  font-size: 12px;
  font-weight: 400;
}
.AlertMsgBox {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #E17512;
  border-radius: 6px;
  padding: 5px 10px;
  margin-bottom: 20px;
  background: #FCF1E7;
}
.AlertMsgBox p, .AlertMsgBox svg {
  color:  #E17512;
}
.AlertMsgBox svg {
  margin-right: 8px;
}
.PasswordInfo {
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  font-weight: 400;
}
.AgreeCheckbox .MuiTypography-root {
  font-size: 13px;
  max-width: 250px;
}
.headerRightSide .MuiButtonBase-root:hover {
  color:  #E17512;
  border: none;
}
@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .AgreeCheckbox .MuiTypography-root, .PasswordInfo {
    font-size: 12px;
  }
}